@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #061912;
    --background: #f7fdfb;
    --primary: #2aacc0;
    --secondary: #f8dde8;
    --accent: #d34b36;
  }

  .dark {
    --text: #e6f9f2;
    --background: #020806;
    --primary: #3fc1d5;
    --secondary: #210711;
    --accent: #c9412c;
  }
}

body {
  color: rgb(var(--text));
  background: rgb(var(--background));
}